@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/ViewFoodClient.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="logo">
            <div>
                <img src="../Resources/LogoCompletoBlanco.png" alt="">
            </div>
        </div>
        <nav class="navbar">
            <a href="@Url.Action("MenuCliente", "Client")" id="SignIn">Volver al menú</a>
        </nav>
    </header>
    <main>
        <div class="menu-container">


            <div class="menu-sidebar">
                <h2 class="menu-title">Catálogo</h2>
                <h3>Marcas</h3>
                <ul class="menu-list">
                    <li>
                        <input type="checkbox" id="Kellogs" class="brand-checkbox">
                        <label for="Kellogs">Kellogs</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Kind" class="brand-checkbox">
                        <label for="Kind">Kind</label>
                    </li>

                    <li>
                        <input type="checkbox" id="Tosh" class="brand-checkbox">
                        <label for="Tosh">Tosh</label>
                    </li>
                    <li>
                        <input type="checkbox" id="McCallums" class="brand-checkbox">
                        <label for="McCallums">McCallums</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Nestle" class="brand-checkbox">
                        <label for="Nestle">Nestle</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Fiber One" class="brand-checkbox">
                        <label for="Fiber One">Fiber One</label>
                    </li>
                    <li>
                        <input type="checkbox" id="NutriSnacks" class="brand-checkbox">
                        <label for="NutriSnacks">NutriSnacks</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Barra de Proteina " class="brand-checkbox">
                        <label for="Barra de Proteina ">Barra de Proteina </label>
                    </li>
                    <li>
                        <input type="checkbox" id="Heinz" class="brand-checkbox">
                        <label for="Heinz">Heinz</label>
                    </li>
                    <li>
                        <input type="checkbox" id="v" class="brand-checkbox">
                        <label for="Selección Auto">Selección Auto</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Lizano" class="brand-checkbox">
                        <label for="Lizano">Lizano</label>
                    </li>


                    <li>
                        <input type="checkbox" id="Kikkoman" class="brand-checkbox">
                        <label for="Kikkoman">Kikkoman</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Del Monte" class="brand-checkbox">
                        <label for="Del Monte">Del Monte</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Tostitos" class="brand-checkbox">
                        <label for="Tostitos">Tostitos</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Santa Cruz" class="brand-checkbox">
                        <label for="Santa Cruz">Santa Cruz</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Prego" class="brand-checkbox">
                        <label for="Prego">Prego</label>
                    </li>
                    <li>
                        <input type="checkbox" id="McCormick" class="brand-checkbox">
                        <label for="McCormick">McCormick</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Splenda" class="brand-checkbox">
                        <label for="Splenda">Splenda</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Natuvia" class="brand-checkbox">
                        <label for="Natuvia">Natuvia</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Victoria" class="brand-checkbox">
                        <label for="Victoria">Victoria</label>
                    </li>


                    <li>
                        <input type="checkbox" id="Doña María" class="brand-checkbox">
                        <label for="Doña María">Doña María</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Crisco" class="brand-checkbox">
                        <label for="Crisco">Crisco</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Lou Ana" class="brand-checkbox">
                        <label for="Lou Ana">Lou Ana</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Roma" class="brand-checkbox">
                        <label for="Roma">Roma</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Numar" class="brand-checkbox">
                        <label for="Numar">Numar</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Clover" class="brand-checkbox">
                        <label for="Clover">Clover</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Orbe " class="brand-checkbox">
                        <label for="Orbe ">Orbe </label>
                    </li>
                    <li>
                        <input type="checkbox" id="Sardimar" class="brand-checkbox">
                        <label for="Sardimar">Sardimar</label>
                    </li>





                    <li>
                        <input type="checkbox" id="Albo" class="brand-checkbox">
                        <label for="Albo">Albo</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Future Farm" class="brand-checkbox">
                        <label for="Future Farm">Future Farm</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Giovanni Rana" class="brand-checkbox">
                        <label for="Giovanni Rana">Giovanni Rana</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Kraft" class="brand-checkbox">
                        <label for="Kraft">Kraft</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Daiya" class="brand-checkbox">
                        <label for="Daiya">Daiya</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Probios" class="brand-checkbox">
                        <label for="Probios">Probios</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Roland" class="brand-checkbox">
                        <label for="Roland">Roland</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Divella" class="brand-checkbox">
                        <label for="Divella">Divella</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Essential Everyday" class="brand-checkbox">
                        <label for="Essential Everyday">Essential Everyday</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Panal de Rodeo" class="brand-checkbox">
                        <label for="Panal de Rodeo">Panal de Rodeo</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Ujarrás" class="brand-checkbox">
                        <label for="Ujarrás">Ujarrás</label>
                    </li>


                    <li>
                        <input type="checkbox" id="Nutella" class="brand-checkbox">
                        <label for="Nutella">Nutella</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Tricopilia" class="brand-checkbox">
                        <label for="Tricopilia">Tricopilia</label>
                    </li>
                    <li>
                        <input type="checkbox" id="JIF" class="brand-checkbox">
                        <label for="JIF">JIF</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Delga-C" class="brand-checkbox">
                        <label for="Delga-C">Delga-C</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Jolies" class="brand-checkbox">
                        <label for="Jolies">Jolies</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Ducal" class="brand-checkbox">
                        <label for="Ducal">Ducal</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Toños" class="brand-checkbox">
                        <label for="Toños">Toños</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Parthenon" class="brand-checkbox">
                        <label for="Parthenon">Parthenon</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Del Trópico" class="brand-checkbox">
                        <label for="Del Trópico">Del Trópico</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Bimbo" class="brand-checkbox">
                        <label for="Bimbo">Bimbo</label>
                    </li>
                    <!-- Agrega más marcas según sea necesario -->
                </ul>
                <h3>Categorías</h3>
                <ul class="menu-list">
                    <li>
                        <input type="checkbox" id="Cereales" class="category-checkbox">
                        <label for="Cereales">Cereales</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Salsas y aderezos" class="category-checkbox">
                        <label for="Salsas y aderezos">Salsas y aderezos</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Carnes y Mariscos Enlatados" class="category-checkbox">
                        <label for="Carnes y Mariscos Enlatados">Carnes y Mariscos Enlatados</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Pastas" class="category-checkbox">
                        <label for="Pastas">Pastas</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Untables" class="category-checkbox">
                        <label for="Untables">Untables</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Vegetales enlatados" class="category-checkbox">
                        <label for="Vegetales enlatados">Vegetales enlatados</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Aceites y grasas" class="category-checkbox">
                        <label for="Aceites y grasas">Aceites y grasas</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Azúcar y substitutos" class="category-checkbox">
                        <label for="Azúcar y substitutos">Azúcar y substitutos</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Gaseosas y refrescos" class="category-checkbox">
                        <label for="Gaseosas y refrescos">Gaseosas y refrescos</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Bebidas Energéticas" class="category-checkbox">
                        <label for="Bebidas Energéticas">Bebidas Energéticas</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Helados" class="category-checkbox">
                        <label for="Helados">Helados</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Embutidos" class="category-checkbox">
                        <label for="Embutidos">Embutidos</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Quesos" class="category-checkbox">
                        <label for="Quesos">Quesos</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Mantequillas y margarinas" class="category-checkbox">
                        <label for="Mantequillas y margarinas">Mantequillas y margarinas</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Leche" class="category-checkbox">
                        <label for="Leche">Leche</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Yogur" class="category-checkbox">
                        <label for="Yogur">Yogur</label>
                    </li>
                    <li>
                        <input type="checkbox" id="Pan y tortillas" class="category-checkbox">
                        <label for="Pan y tortillas">Pan y tortillas</label>
                    </li>
                    <!-- Agrega más categorías según sea necesario -->
                </ul>
                <button class="btn-modify" id="filter-button">Filtrar</button>
            </div>
            <!-- Contenedor de productos -->
            <div class="products-container" id="products-container">
                <!-- Aquí se mostrarán los productos -->
            </div>
        </div>


    </main>






    <!-- Resto del contenido principal -->

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/swal/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/ViewUserFood.js" asp-append-version="true"></script>

</body>
</html>